{% block content %}
{% load static %}
<link href="{% static '/listing/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static '/listing/css/sb-admin.css' %}" rel="stylesheet">
<style>
    body
    {
     background:#000!important;
     }
</style>
<div class="loginmodal-container" style="margin-top:50px; text-align:center">
    <a class="" href="/" style="background:#000; width:100%; display:inline-block; margin-bottom:20px;"><img src="{% static '/listing/images/large-logo.png' %}"></a>
	<form method="post" class="refines">

    {% csrf_token %}


    {{ form.as_p }}
    <button type="submit" class="rf-btn select" style="float:right;font-size:15px; width:75px; margin-right:105px;">Login</button>
	</form>

</div>
{% endblock %}