{% extends 'base.html' %}
{% block content %}
      <!-- Breadcrumbs-->

      <!-- Icon Cards-->

      	 <div class="card mb-3">
        <div class="card-header">
          <b><i class="fa fa-th-large" aria-hidden="true"></i> Latest Widgets</b></div>
        <div class="card-body">
        	<div class="row">
            {% for i in result %}
            {% include "widget.html" %}
            {% endfor %}
      	</div>
      </div>
  </div>


      	 <div class="card mb-3">
        <div class="card-header">
          <b><i class="fa fa-th-large" aria-hidden="true"></i> Your Matches</b></div>
        <div class="card-body">
        	<div class="row">



      	</div>
      </div>
  </div>

{% endblock %}