{% extends 'base.html' %}
{% load static %}
{% block content %}
      <!-- Breadcrumbs-->

      <!-- Icon Cards-->
    <div class="row">

        {% include 'refine_search.html' %}

       <!--<h1 class="col-md-12 heading-h1">Refine</h1>-->
       <!--<div class="col-md-12 refines">-->
         <!--&lt;!&ndash;<button>Total ticket size available</button>&ndash;&gt;-->
         <!--&lt;!&ndash;<button>Sector</button>&ndash;&gt;-->
         <!--&lt;!&ndash;<button>Yield</button>&ndash;&gt;-->
         <!--&lt;!&ndash;<button>Type</button>&ndash;&gt;-->
         <!--&lt;!&ndash;<button>Series/Stage</button>&ndash;&gt;-->
         <!--&lt;!&ndash;<button>Class</button>&ndash;&gt;-->
       <!--</div>-->
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="grid"><img src="{% static '/listing/images/opprtunity-dashboard.png' %}">
         <p>{{ result|length }} matched opportunities to your investment mandate.</p>
        </div>
      </div>
      
    </div>


        	<div class="row">
            {% if result %}
            <h1 class="col-md-12 heading-h1">Latest Opportunities</h1>
            {% endif %}
            <!--{% if mandate %}-->
            <!--<h1 class="col-md-12 heading-h1">Latest Mandates</h1>-->
            <!--{% endif %}-->
            {% for i in result %}
            {% include "widget.html" %}
            {% endfor %}
      	</div>


<!-- 
      	 <div class="card mb-3">
        <div class="card-header">
          <b><i class="fa fa-th-large" aria-hidden="true"></i> Your Matches</b></div>
        <div class="card-body">
        	<div class="row">



      	</div>
      </div>
  </div> -->

{% endblock %}