<!DOCTYPE html>
<html>
<head>

</head>
<body>
<table id="financial-table">
  <tr>
    <th></th>
    <th data-value="2015A">2015A </th>
    <th data-value="2016A">2016A </th>
    <th data-value="2017A">2017A </th>
    <th data-value="2018E">2018E </th>
    <th data-value="2019E">2019E </th>
  </tr>
  <tr>
    <td>Revenue</td>
    <td><input type="number" step="0.01" name="Revenue_2015A" ></td>
    <td><input type="number" step="0.01" name="Revenue_2016A" ></td>
    <td><input type="number" step="0.01" name="Revenue_2017A" ></td>
    <td><input type="number" step="0.01" name="Revenue_2018E" ></td>
    <td><input type="number" step="0.01" name="Revenue_2019E" ></td>
  </tr>
  <tr>
    <td>Costs</td>
    <td><input type="number" step="0.01" name="Costs_2015A" ></td>
    <td><input type="number" step="0.01" name="Costs_2016A" ></td>
    <td><input type="number" step="0.01" name="Costs_2017A" ></td>
    <td><input type="number" step="0.01" name="Costs_2018E" ></td>
    <td><input type="number" step="0.01" name="Costs_2019E" ></td>
  </tr>
    <tr>
    <td>EBITDA</td>
    <td><input type="number" step="0.01" name="EBITDA_2015A" ></td>
    <td><input type="number" step="0.01" name="EBITDA_2016A" ></td>
    <td><input type="number" step="0.01" name="EBITDA_2017A" ></td>
    <td><input type="number" step="0.01" name="EBITDA_2018E" ></td>
    <td><input type="number" step="0.01" name="EBITDA_2019E" ></td>
  </tr>
    <tr>
    <td>CAPEX</td>
    <td><input type="number" step="0.01" name="CAPEX_2015A"  ></td>
    <td><input type="number" step="0.01" name="CAPEX_2016A" ></td>
    <td><input type="number" step="0.01" name="CAPEX_2017A" ></td>
    <td><input type="number" step="0.01" name="CAPEX_2018E"  ></td>
    <td><input type="number" step="0.01" name="CAPEX_2019E" ></td>
  </tr>
    <tr>
    <td>Net Profit</td>
    <td><input type="number" step="0.01" name="Net_Profit_2015A" ></td>
    <td><input type="number" step="0.01" name="Net_Profit_2016A" ></td>
    <td><input type="number" step="0.01" name="Net_Profit_2017A" ></td>
    <td><input type="number" step="0.01" name="Net_Profit_2018E" ></td>
    <td><input type="number" step="0.01" name="Net_Profit_2019E" ></td>
  </tr>
</table>
<br>
</body>
</html>
