{% extends 'base.html' %}
{% block title %}Listing Oppurtunities{% endblock title %}
{% block content %}
<style>
	[role="row"] {
		text-transform: capitalize;
	}
</style>

<h4 class="heading-h1">Listing Oppurtunities</h4>

	<!-- Alerts -->

	<table id="example" class="table table-striped table-bordered" style="width:100%">
		<thead>
			<tr>
				<th>Company Description</th>
				<th>Country</th>
                <th>Asset Class</th>
				<th>Offer</th>
                <th>Financials</th>

			</tr>
		</thead>
        <tbody>

        	{% for opportunity in opportunities %}
			<tr>
                <td><a  href="{% url 'opportunity-detail-view' pk=opportunity.id %}">{{ opportunity.company_description }}</a>
				</td>
				<td> {% for m in opportunity.country.all %} {{ m }} {% if not forloop.last %}, {% endif %} {% endfor %}</td>
                <td> {% for m in opportunity.class_select.all %} {{ m }} {% if not forloop.last %}, {% endif %} {% endfor %}</td>
                <td>{% for m in opportunity.offer.all %} {{ m }} {% if not forloop.last %}, {% endif %} {% endfor %}</td>
			    <td>{{ opportunity.financials}}</td>
            </tr>

        {% endfor %}
	</tbody>
	</table>

{% endblock content %}
{% block scripts %}
{% load static %}
<link rel="stylesheet" href="{% static '/listing/css/dataTables.bootstrap4.min.css' %}">
<link rel="stylesheet" href="{% static '/listing/css/buttons.bootstrap4.min.css' %}">




{% endblock scripts %}