{% extends 'base.html' %}
{% block content %}

        	<div class="row">
		        <div class="col-xl-4	 col-sm-8 mb-3">
		          <div class="text-dark bg-white o-hidden h-100">
			            <div class="card-body">
							<form action="" method="post" class="listing" enctype="multipart/form-data">
							    {% csrf_token %}
							    {{ form.as_p }}
								{% if opportunity %}
								<label>High Level Financial's</label>
								{% include 'financial_table.html' %}
								{% endif %}
                  <div style="width: 100%;float: left;">
                     <input type="submit" value="Upload">
                  </div>
							</form>
						</div>
					</div>
				</div>


  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
  $("#id_country").empty();
  $("#id_sub_sector").empty();

    $("#id_geography").change(function () {
      var url = '/ajax/load-geography/';  // get the url of the `load_cities` view
      var geographyId = $(this).val();  // get the selected country ID from the HTML input
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'geography': geographyId       // add the country id to the GET parameters
        },
        success: function (response) {   // `data` is the return of the `load_cities` view function
        $("#id_country").empty();
        $("#id_country").append('<option value=""> -- Select All -- </option>');
 		  for(var i=0;i<response.data.length;i++){
 		  $("#id_country").append('<option value=' + response.data[i]['id'] + '>' + response.data[i]['country'] + '</option>');
 		  }
        }
      });
    });

	$("#id_country").change(function () {
	  if($(this).val()=='') {
	    $("#id_country option").prop("selected", "selected");
	  }
	});

    $("#id_sector").change(function () {
      var url = '/ajax/load-sector/';  // get the url of the `load_cities` view
      var sectorId = $(this).val();  // get the selected country ID from the HTML input
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'sector': sectorId       // add the country id to the GET parameters
        },
        success: function (response) {   // `data` is the return of the `load_cities` view function
        $("#id_sub_sector").empty();
        $("#id_sub_sector").append('<option value=""> -- Select All --</option>');
 		  for(var i=0;i<response.data.length;i++){
 		  $("#id_sub_sector").append('<option value=' + response.data[i]['id'] + '>' + response.data[i]['sub_sector'] + '</option>');
 		  }
        }
      });
    });

	$("#id_sub_sector").change(function () {
	  if($(this).val()=='') {
	    $("#id_sub_sector option").prop("selected", "selected");
	  }
	});
  </script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.css"/>
<script type="text/javascript">
  <!--$('select').selectize({-->
<!--plugins: ['remove_button']-->
<!--});-->
  <!--$(document).ready(function()-->
  <!--{-->
    <!--$("#id_country").parent("p").addClass("country");-->
    <!--$("#id_geography").change(function()-->
    <!--{-->
      <!--$(".listing .country .selectize-control").remove();-->
      <!--$("#id_country").removeClass("selectized").removeAttr("style").removeAttr("tabindex").html();-->
      <!--$(".listing .country").html(`<label for="id_country">Country:</label><select name="country" required="" id="id_country" multiple="multiple"></select>`)-->
      <!--setTimeout(function()-->
      <!--{-->
        <!--$("#id_country").selectize({-->
        <!--plugins: ['remove_button']-->
        <!--});-->
      <!--},1000);-->
    <!--});-->

      <!--$("#id_sub_sector").parent("p").addClass("sub_sector"); -->
    <!--$("#id_sector").change(function()-->
    <!--{-->
      <!--$(".listing .sub_sector .selectize-control").remove();-->
      <!--$("#id_sub_sector").removeClass("selectized").removeAttr("style").removeAttr("tabindex").html();-->
      <!--$(".listing .sub_sector").html(`<label for="id_sub_sector-selectized">Sub Sector:</label><select name="country" required="" id="id_sub_sector" multiple="multiple"></select>`)-->
      <!--setTimeout(function()-->
      <!--{-->
        <!--$("#id_sub_sector").selectize({-->
        <!--plugins: ['remove_button']-->
        <!--});-->
      <!--},1000);-->
    <!--});-->

    //  $("#id_sector").change(function()
    // {
    //   $(".listing p:nth-child(9) .selectize-control").remove();
    //   $("#id_sub_sector").removeClass("selectized").removeAttr("style").removeAttr("tabindex").html();
    //   $(".listing p:nth-child(9)").html(`<label for="id_sub_sector-selectized">Sub Sector:</label><select name="country" required="" id="id_sub_sector" multiple="multiple"></select>`)
    //   setTimeout(function()
    //   {
    //     $("#id_sub_sector").selectize({
    //     plugins: ['remove_button']
    //     });
    //   },100);
    // });
    //    $("#id_geography").change(function()
    // {
    //   $(".listing p:nth-child(7) .selectize-control").remove();
    //   $("#id_country").removeClass("selectized").removeAttr("style").removeAttr("tabindex").html();
    //   $(".listing p:nth-child(7)").html(`<label for="id_country">Country:</label><select name="country" required="" id="id_country" multiple="multiple"></select>`)
    //   setTimeout(function()
    //   {
    //     $("#id_country").selectize({
    //     plugins: ['remove_button']
    //     });
    //   },100);
    // });

  });
</script>
{% endblock %}

