{% load static %}
<div class="col-xl-4 col-sm-6 mb-3">
  <div class="card text-dark bg-white o-hidden h-100">
    <a href="/opportunity-detail/{{ i.id }}" class="gotoUrl"></a>
    <div class="wid-cards">
      
        <div class="wid-bg" style="background-image: url('{% static '/listing/images/wid-bg.png' %}');">
          <div class="match">
            
          </div>
          <div class="wid-logo">
            <img src="{% static '/listing/images/wid-logo.png' %}">
          </div>
        </div>
        <div class="wid-details">
      <h2>{{ i.company_description }}</h2>
      <h5>{{ i.valuation }}</h5>
      <span>{{ i.geography }}, {% for m in i.country.all %} {{ m }} {% if not forloop.last %}, {% endif %} {% endfor %}</span>
      <p>{{ i.company_description }}</p>
      <div class="wid-specs">
        <label>Yield : {{ i.yield_select }} </label>
        <label>Investment Type: {% for m in i.investment_offered.all %} {{ m }} {% if not forloop.last %}, {% endif %} {% endfor %}</label>
        <label>Series/Stage:{% for m in i.series_stage.all %} {{ m }} {% if not forloop.last %}, {% endif %} {% endfor %}</label>
        <label>Asset Class: {% for m in i.class_select.all %} {{ m }} {% if not forloop.last %}, {% endif %} {% endfor %}</label>
        </div>
        {% for m in i.sub_sector.all %} <a href="#">{{ m }} </a>{% endfor %}

    </div>

    </div>
  
  </div>
</div>
