{% extends 'base.html' %}
{% block content %}
    <div class="card mb-3">
        <div class="card-body">
        	<div class="row">
        		<div class="col-xl-8 col-sm-6 mb-3 wid-details">
        			<h2>{{ result.widget1 }}</h2>
        				<div class="row">
        					<div class="col-xl-2">
        						<b>US$ {{ result.widget2 }}</b>
        					</div>
        					<div class="col-xl-2">
        						<i class="fa fa-map-marker text-warning" aria-hidden="true"></i> {% for m in result.widget17.all %} {{ m }} <br/>{% endfor %}
        					</div>
        					<div class="col-xl-3">
        						<i class="fa fa-crosshairs text-danger" aria-hidden="true"></i> {% for m in result.widget17.all %} {{ m }} <br/>{% endfor %}
        					</div>
        		<div class="col-xl-12 col-sm-6 mb-3">		
				<label>Description 1 </label>
				<p>{{ result.widget5 }}</p>
				<label>Description 2 </label>
				<p>   {{ result.widget6 }}</p>
				<label>Location</label>
				<p>    {{ result.widget7 }}</p>
			</div>
			</div>
			<div class="row">
				<div class="col-xl-3">
					<label>Description 3</label>
					<p>    {{ result.widget5 }}</p>
				</div>
				<div class="col-xl-3">
				<label>Description 4 </label>   
				<p>{{ result.widget11 }}</p>
				</div>
				<div class="col-xl-3">
				<label>Description 5 </label>
				<p>   {{ result.widget10 }}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-12">
				<label>Description 6  </label>
				<p>  {{ result.widget11 }}</p>
			</div>
			</div>
			<div class="card mb-3">
		        <div class="card-header">
		          <b><i class="fa fa-th-large" aria-hidden="true"></i> WIDGET METRICS</b></div>
		        <div class="card-body">
				<h4><b>Description 1</b>    {{ result.widget5 }}</h4>
				<h4><b>Description 2 </b>   {{ result.widget6 }}</h4>
				<h4><b>Description 3  </b>  {{ result.widget5 }}</h4>
				<h4><b>Description 4 </b>   {{ result.widget11 }}</h4>
			</div>
		</div>
        		</div>
        	
        </div>
		</div>
	</div>

{% endblock %}